/* This CSS controls presentation details common to all six original themes. */

/* This CSS has been moved to a regular file on the server(s), for
   performance reasons. If it needs to be altered, chat with a god.
   If it doesn't, chat with a god anyway. Gods are people, too. */

.reply-new-body, .reply-body,
body {
  color: #000;
  background-color: #FFF;
}

h3.superdoc {
   font-size:  28px;
  font-family: "Old English Text MT", linotext, rudelsburg, goodcitymodern, 
               arnoldboecklin, agate, lucidabright, becker, Palatino,
               "Palatino Linotype", Harrington, serif;
}
span.attribution, span.addlinks { font-size: smaller; }
.attribution-title { display: none; }

input.titlebar {
  background-color: inherit; 
  color: inherit; 
  font-size: inherit; 
  font-family: inherit; 
  font-weight: inherit;
  border-width:     0;
}
h2.titlebar,
tr.titlebar {
  height:           55px;
  font-size:        24px;
  font-weight:      bold;
  font-family:      lucidabright, agate, goudyoldstyle, goodcitymodern, linotext, 
                    rudelsberg, becker, arnoldboecklin, caligula, serif;
}
a.titlebar:link, a.titlebar:visited {
  text-decoration: none;
}
tbody.nodelet td { font-size: 12px; }
tbody.nodelet th { font-weight: bold; }
tbody.nodelet th a { text-decoration: none; }
form { display: inline }
span.title    { float: left  }
span.controls { float: right }
/* div.notetext { font-size: small } */
div.reputation { font-size: smaller }
font.htmlignored { text-decoration: line-through; }

div.showcontainer { border: 1px solid #0f0 }
div.containername { background-color: #afa; border-bottom: 1px solid #0f0 }
p.nnt-p { display: inline; }
p.nnt-p-title { /* width: 70%; */   }
p.nnt-author  { /* width: 28%; */ }
tr.this-patch td { font-weight: bold; }
tr.other-patch td { font-style: italic; }
a.nnt-Steaming, 
a.nnt-Hot, 
a.nnt-Fresh
{ font-weight: bold; }

.nnt-noderep,
.nnt-nodeattribs,
.time-text { font-size: smaller; }

li.inline,
.inline-list li { display: inline; margin-left: 3pt; }
li.inline:before,
.inline-list li:before { content:" |\A0" }
ul.word-list,
ul.inline-list { display: inline; margin: 0; padding: 0; list-style: none; }
.word-list li { display: inline; }
.word-list li:before { content:" " }

ul.spacey-list { margin: 0; padding: 0; list-style: none; }

#nodethreads {
  padding-right: 1em;
  white-space:normal;
}
#nodethreads ul {
  list-style: none;

  margin-left: 0;
  padding-left: 1em;
  text-indent: 0em;
  white-space:normal;
}

#nodethreads li {width: 100%;}

#nodethreads ul.expanded {
  display: block;
}

#nodethreads ul.collapsed {
  display: none;
}

.spoiler {
  color: black;
  background-color: #000000;
}

.faqlist-itemtype { font-size: smaller; }
.faqlist-faqlist { font-weight: bold; }
.faqlist-faqseen { font-style: italic; }
.faqlist-thislist { font-size: smaller; }


pre { white-space: pre-wrap; }
div.readmore {background-color: #eee;}

.embed-code-dl { 
  text-align: left;   
  display: block; 
  padding: 0px; 
  margin: 0px;
}
.embed-code-dl a { font-size: smaller; }
span.see_also { font-size:smaller; font-style:italic; }
span.see_also a { font-size: smaller; }
.chatsubmit {
	background-color: #777;
	color: #FFF;
	border-width: 0;
	font-size: large;
	font-family: Times,serif;
}
.paneled { border-style: groove; padding: 1em; }

.mailhead { background-color: #CCCCCC; }

div#footer { font-size: smaller; text-align: center; }

/* used in Everything/HTML.pm sub htmlScreen */
font.htmlattrib,
font.htmlignored,
font.htmlinserted { color: #808080; }

.add-text, .add-title { font-weight: bold; font-size: larger; }

td.settings_key { background-color: #ccccff; color: #000000 }
td.settings_val { background-color: #dedeff; color: #000000 }

h2.titlebar,
tr.titlebar,
.comment-on, .comment-on u { color: #FFF; }
.comment-on { background-color: #777; }

td.adjunct-links { font-size: smaller }
td.monkquip,
span.topnavmenu { font-size: smaller }
div.link-back { text-align: center; }
a.nodelethead-annot { display:none; }

.pmsig { border-top: 1px solid gray; }
.pmsig > div:first-child > hr:first-child { display: none; }

span.inboxupdate,
span.rjeupdate,
span.wikiupdate
{ font-weight: bold }
